$small: "screen and (max-width: 768px)";
$normal: "screen and (min-width: 769px)";

$h2__fontSize: 24px;
$h2__bbColor: #727171;
$h3__fontSize: 21px;

$cap__fontSize: 13px;

$h3__fontSize: 16px;

$pc__w: 1080px;
$g__fontSize: 14px;

$g__bgc: #f7f7f7;
$g__fontColor: #9FA0A0;
$dark__fontColor: #727171;

$g__color-kids: #8DC21F;
$g__color-future: #F29600;

$header_comming__h: 80px;

$header_comming__bgc: #959595;
$header_comming__fontColor: #fdfdfd;
$header_comming__fontSize: 28px;
$header_comming-em__fontSize: 48px;
$header_recruit__fontSize: 16px;

$header_buttons__bbColor: #959595;
$header_buttons__h: 70px;

$header_buttons-lets__fontSize: 26px;

$header_button__bgc: #E2E2E2;

$about__fontSize: 19px;
$about_column__w: 400px;
$about_column__mr: 100px;
$about_intro__w: $pc__w / 2;
$about_intro__fontColor: #fdfdfd;
$about_intro-black__fontColor: #020202;

$boxcolor: #ffffff;

$event_image__w: 400px;

$recruit_title__fontSize: 18px;
$recruit_info__fontSize: 14px;

$info__fontSize: 14px;
$info-head__fontSize: 22px;
$info_table-main__w: 450px;

$contact__bgc: #959595;
$contact__fontColor: #fdfdfd;
$contact__fontSize: 14px;
$contact_button__bgc: #4D4D4D;

$footer__bgc: #4D4D4D;
$footer__fontColor: #fdfdfd;
$footer__fontSize: 12px;

@mixin clearfix{
  &:after{
    clear: both;
    content: "";
    display: block;
  }
}

@mixin aspect34($width){
  height : $width * 0.5625;
}

@mixin smallW{
  @media #{$small} {
    width: 100%;
  }
}