$small: "screen and (max-width: 768px)";
$normal: "screen and (min-width: 769px)";
$maximum: "screen and (min-width: 1441px)";
$minimum: "screen and (min-width: 769px) and (max-width: 1080px)";

$title__fontSize: 21px;
$title__color: #3e3a39;
$h2__fontSize: 24px;
$h2__color: #727171;
$h3__fontSize: 21px;
$g__fontSize: 14px;
$g__fontColor: #9fa0a0;
$cap__fontSize: 13px;
$link__fontSize: 15px;
$link__fontColor: #595757;
$dark__fontColor: #727171;

$bg__color: #f7f8f8;

$g__color-kids: #8fc31f;
$g__color-future: #f39800;

$boxcolor: #ffffff;

$accordion__border: #dddddd;

@mixin clearfix{
  &:after{
    clear: both;
    content: "";
    display: block;
  }
}

@mixin headingMark{

}

@mixin smallW{
  @media #{$small} {
    width: 100%;
  }
}

@mixin only_pc{
  @media #{$small} {
    display: none;
  }
}

@mixin only_sp{
  @media #{$normal} {
    display: none;
  }
}