/* setting */
/* base */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
/* line 6, base/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 16, base/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 19, base/_reset.scss */
body {
  line-height: 1;
}

/* line 22, base/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 25, base/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 29, base/_reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none;
}

/* line 34, base/_reset.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 38, base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 3, base/_util.scss */
html {
  color: #9FA0A0;
  font-family: 'Noto Sans Japanese', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.75em;
}

header {
  background-color: #959595;
  color: #fdfdfd;
}

h2 {
  font-size: 24px;
  color: #727171;
  font-weight: 300;
  padding: 50px 0 40px 0;
}
@media screen and (max-width: 768px) {
  h2 {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 18px;
  }
}

h3 {
  font-size: 16px;
}

.caption {
  font-size: 13px;
  font-weight: 200;
}
@media screen and (max-width: 768px) {
  .caption {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .caption {
    font-size: 18px;
  }
}

.futureColor {
  color: #F29600;
}

.kidsColor {
  color: #8DC21F;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #9FA0A0;
}

.linkText {
  font-size: 15px;
  color: #595757;
  border-bottom: solid 1px #595757;
  font-weight: 500;
}

/* layout */
.instaPic {
  background-color: #CCCCCC;
  height: 400px;
  width: 100%;
}

.wrap {
  margin: 0 auto;
  width: 92.5925%;
}
.wrap:after {
  clear: both;
  content: "";
  display: block;
}

.bgcolor {
  background-color: #f7f7f7;
}

.latestEvent {
  margin-right: -3.2%;
}
.latestEvent .topcap {
  text-align: center;
  margin: 0;
}
.latestEvent .latestBox_future {
  background-color: #ffffff;
  width: 400px;
  height: 400px;
  margin-right: 2.8%;
  border: solid 1px #F29600;
  display: inline-block;
  position: relative;
}
.latestEvent .latestBox_future .remaindays_future {
  background-color: #F29600;
  width: 86px;
  height: 26px;
  position: absolute;
  top: 0px;
  left: 0px;
}
.latestEvent .latestBox_future .remaindays_future .caption {
  color: #ffffff;
  z-index: 10;
  padding: 3px 0 0 18px;
}
.latestEvent .latestBox_future img {
  width: 100%;
  height: 55.7522%;
}
.latestEvent .latestBox_future .eventText {
  margin-left: 18px;
}
.latestEvent .latestBox_future .eventText .eventsch_future {
  margin: 23px 0 0 0;
  color: #F29600;
}
.latestEvent .latestBox_future .eventText .eventtitle_future {
  font-size: 16px;
  margin: 3px 0 0 0;
  color: #727171;
}
.latestEvent .latestBox_future .eventText .eventplace_future {
  margin: 10px 0 0 0;
  color: #9FA0A0;
}
.latestEvent .moreview {
  margin: 40px 3.2% 50px auto;
  width: 75px;
}

.gNav {
  border-right: solid 1px #9FA0A0;
  margin: 0px -1px 40px 0;
  width: 100%;
  color: #9FA0A0;
}
.gNav:after {
  clear: both;
  content: "";
  display: block;
}
.gNav .gNavli {
  float: left;
  width: 20%;
  text-align: center;
  border-left: solid 1px #9FA0A0;
  font-weight: 400;
}

.future_entrance {
  background-color: #ffffff;
  border: solid 1px #F29600;
  width: 48.4%;
  float: left;
}
.future_entrance .openclose {
  background-color: #F29600;
  margin: 0;
  text-align: center;
  color: #ffffff;
  height: 26px;
  padding-top: 3px;
}
.future_entrance .future_logo {
  border-bottom: solid 1px #F29600;
  text-align: center;
}
.future_entrance .future_logo img {
  width: 43.3884%;
}
.future_entrance .future_contents {
  border-bottom: solid 1px #F29600;
}
.future_entrance .future_contents img {
  width: 50%;
  float: left;
}
.future_entrance .future_textbox {
  text-align: center;
  float: left;
  width: 50%;
  margin-top: 15%;
}
.future_entrance .future_textbox h2 {
  margin: 0;
  padding: 0;
}
.future_entrance .future_information img {
  width: 50%;
  float: left;
}

.kids_entrance {
  background-color: #ffffff;
  border: solid 1px #8DC21F;
  width: 48.4%;
  float: right;
}
.kids_entrance .openclose {
  background-color: #8DC21F;
  margin: 0;
  text-align: center;
  color: #ffffff;
  height: 26px;
  padding-top: 3px;
}
.kids_entrance .kids_logo {
  border-bottom: solid 1px #8DC21F;
  height: 200px;
  text-align: center;
}
.kids_entrance .kids_logo img {
  width: 51.6528%;
}
.kids_entrance .kids_contents {
  height: 200px;
  border-bottom: solid 1px #8DC21F;
}
.kids_entrance .kids_contents img {
  width: 50%;
  float: left;
}
.kids_entrance .kids_textbox {
  text-align: center;
  width: 50%;
  float: left;
  margin-top: 15%;
}
.kids_entrance .kids_textbox h2 {
  margin: 0;
  padding: 0;
}
.kids_entrance .kids_information img {
  width: 50%;
  float: left;
}

.future_logoapp {
  float: left;
  width: 48.4%;
  height: auto;
  text-align: center;
  color: white;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16);
  background-color: #F29600;
  position: relative;
}
.future_logoapp td {
  width: 25%;
  margin: 0;
}
.future_logoapp td img {
  width: 100%;
}

.kids_logoapp {
  float: right;
  width: 48.4%;
  height: auto;
  background-color: #8DC21F;
  text-align: center;
  color: white;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16);
  position: relative;
}
.kids_logoapp td {
  width: 25%;
  margin: 0;
}
.kids_logoapp td img {
  width: 100%;
}

.logoapp_textBox {
  width: 350px;
  height: 70px;
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.logoapp_textBox p {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}
.logoapp_textBox .logoapp_font {
  font-size: 36px;
  margin-top: 20px;
}

footer .foot .footerelements {
  text-decoration: none;
  font-size: 14px;
  color: #9FA0A0;
  margin-right: 52px;
  height: 100px;
}
footer .foot img {
  vertical-align: middle;
  width: 50px;
  height: 50px;
}
footer .copyright {
  background: #595757;
  width: 100%;
  height: 30px;
}
footer .copyright p {
  margin: 0;
  font-size: 13px;
  color: #FFFFFF;
  text-align: center;
  vertical-align: middle;
}

/* module */
/* state */

/*# sourceMappingURL=style.css.map */
