@charset "UTF-8";
/* setting */
/* base */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  color: #9fa0a0;
  font-family: 'Noto Sans Japanese', sans-serif;
  font-size: 14px;
  font-weight: 200;
  line-height: 1.75em;
}

header {
  color: #9fa0a0;
}

h2 {
  color: #727171;
  font-size: 24px;
  font-weight: 300;
}

h3 {
  font-size: 21px;
}

.caption {
  font-size: 13px;
  font-weight: 400;
}

li {
  list-style: none;
}

a {
  color: #9fa0a0;
  text-decoration: none;
}

.futureColor {
  color: #f39800;
}

.kidsColor {
  color: #8fc31f;
}

.bgcolor {
  background-color: #f7f8f8;
}

.linkText {
  border-bottom: solid 1px #595757;
  color: #595757;
  font-size: 15px;
  font-weight: 500;
}

/* layout */
.instaPic {
  background-color: #CCCCCC;
  height: 400px;
  width: 100%;
}

.wrap {
  margin: 0 auto;
  width: 92.5925%;
}
.wrap:after {
  clear: both;
  content: "";
  display: block;
}

.latestEvent {
  margin-right: -3.2%;
}

header .gHeader {
  height: 30px;
  width: 100%;
}

.topcap {
  padding: 50px 0 40px 0;
}

.gNav {
  border-right: solid 1px #9fa0a0;
  color: #9fa0a0;
  margin: 0px -1px 40px 0;
  width: 100%;
}
.gNav:after {
  clear: both;
  content: "";
  display: block;
}

.future_entrance {
  background-color: #ffffff;
  border: solid 1px #f39800;
  float: left;
  margin: -1px;
  width: 48.4%;
}

.kids_entrance {
  background-color: #ffffff;
  border: solid 1px #8fc31f;
  float: right;
  margin: -1px;
  width: 48.4%;
}

.future_logoapp {
  background-color: #f39800;
  color: white;
  float: left;
  height: auto;
  position: relative;
  text-align: center;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16);
  width: 48.4%;
}

.kids_logoapp {
  background-color: #8fc31f;
  color: white;
  float: right;
  height: auto;
  position: relative;
  text-align: center;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16);
  width: 48.4%;
}

.logoapp_textBox {
  bottom: 0;
  height: 70px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 350px;
  z-index: 10;
}

footer .foot {
  background: #efefef;
  height: 100px;
  width: 100%;
}
footer .copyright {
  background: #9fa0a0;
  height: 26px;
  width: 100%;
}

.FCH_logo {
  width: 100%;
  height: calc(100vh - 174px);
}

.KPH_logo {
  width: 100%;
  height: calc(100vh - 174px);
}

.FCH_explain {
  margin-top: 50px;
}

.KPH_explain {
  margin-top: 50px;
}

.experiencemenu {
  border-bottom: solid 1px #9FA0A0;
}

.event_textBox_wrap {
  width: 75%;
  height: 25vw;
}

.event_pic {
  width: 25%;
  height: 25vw;
}

.eventArchive_textBox_wrap {
  width: 50%;
  height: 25vw;
}

.eventArchive_pic {
  width: 50%;
  height: 25vw;
}

.eventArchive_leftText .eventArchive_textBox_wrap {
  float: left;
}
.eventArchive_leftText .eventArchive_pic {
  float: right;
}

.eventArchive_rightText .eventArchive_textBox_wrap {
  float: right;
}
.eventArchive_rightText .eventArchive_pic {
  float: left;
}

.exmenu_leftText .exmenu_textBox_wrap {
  float: left;
}
.exmenu_leftText .exmenu_pic {
  float: right;
}

.exmenu_rightText .exmenu_textBox_wrap {
  float: right;
}
.exmenu_rightText .exmenu_pic {
  float: left;
}

.exmenu_textBox_wrap {
  width: 25%;
  height: 25vw;
}

.exmenu_pic {
  width: 75%;
  height: 25vw;
}

.heading:after {
  clear: both;
  content: "";
  display: block;
}

.pageTitle_event {
  margin: 12px 0 0 0;
}
.pageTitle_event .titleText {
  padding-left: 24px;
}

.map_container {
  position: relative;
  padding-top: 60vh;
}

#map_canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60vh;
}

.pageTitle {
  margin: 12px 0 50px 0;
}
.pageTitle .titleText {
  padding-left: 24px;
}

.archives {
  float: right;
  width: 30%;
}
.archives .archiveLayout {
  margin-left: 75px;
}

.p-layout {
  height: calc(100vh - 30px - 54px - (65px + 50px) - 126px);
  position: relative;
  width: 100%;
}

.p-centering {
  left: 50%;
  position: absolute;
  top: calc(50% - 50px);
  transform: translate(-50%, -50%);
  text-align: left;
}

.p-margin {
  margin-top: 41px;
}

.sponsor .heading {
  margin-top: 0;
  width: 100%;
}
.sponsor p {
  margin-bottom: 40px;
}

.touristOffice .heading {
  margin-top: 0;
  width: 50%;
}
.touristOffice .heading > p {
  margin-bottom: 24px;
}

.touristGuide .heading {
  margin-top: 0;
  width: 50%;
}
.touristGuide .heading > p {
  margin-bottom: 24px;
}

/* module */
.latestEvent {
  font-size: 0;
  padding-bottom: 40px;
}
.latestEvent .topcap {
  text-align: center;
}
.latestEvent .latestBox_future {
  background-color: #ffffff;
  border: solid 1px #f39800;
  display: inline-block;
  margin: calc(1px - 1px) calc(100% * (32 / 1080) - 1px) calc(1px - 1px) calc(1px - 1px);
  position: relative;
}
.latestEvent .latestBox_future .remaindays_future {
  background-color: #f39800;
  height: 26px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 86px;
}
.latestEvent .latestBox_future .remaindays_future .caption {
  color: #ffffff;
  height: 26px;
  line-height: 26px;
  padding-left: 18px;
  z-index: 10;
}
.latestEvent .latestBox_future img {
  height: 55.7522%;
  width: 100%;
}
.latestEvent .latestBox_future .eventText {
  margin-left: calc(100% * (18 / 280.616));
}
.latestEvent .latestBox_future .eventText .eventsch_future {
  margin: calc(100% * (23 / 280.616)) 0 0 0;
}
.latestEvent .latestBox_future .eventText .eventtitle_future {
  font-size: 21px;
  margin: 3px 0 0 0;
  color: #727171;
}
.latestEvent .latestBox_future .eventText .eventplace_future {
  margin: 10px 0 0 0;
  color: #9fa0a0;
}
.latestEvent .moreview {
  margin: 40px 3.2% 10px auto;
  width: 75px;
}

header .gHeader {
  text-align: right;
}
header .gHeader .links {
  font-size: 13px;
  line-height: 30px;
  text-decoration: none;
}

.gNav .gNavli {
  border-left: solid 1px #9fa0a0;
  float: left;
  font-weight: 400;
  margin-left: -1px;
  text-align: center;
  width: 20%;
}

.future_entrance .openclose {
  background-color: #f39800;
  color: #ffffff;
  height: 26px;
  line-height: 26px;
  text-align: center;
}
.future_entrance .future_logo {
  border-bottom: solid 1px #f39800;
  text-align: center;
}
.future_entrance .future_logo img {
  width: 43.3884%;
}
.future_entrance .future_contents {
  border-bottom: solid 1px #f39800;
  position: relative;
}
.future_entrance .future_contents img {
  float: left;
  width: 50%;
}
.future_entrance .future_textbox {
  float: left;
  margin: -58px 0 0 -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 200px;
}
.future_entrance .future_textbox .h2-top {
  color: #727171;
  font-size: 24px;
  font-weight: 300;
}
.future_entrance .future_textbox p {
  line-height: 1.75;
  margin-top: 20px;
}
.future_entrance .left_textbox {
  left: 25%;
}
.future_entrance .right_textbox {
  left: 75%;
}
.future_entrance .future_information {
  position: relative;
}
.future_entrance .future_information:after {
  clear: both;
  content: "";
  display: block;
}
.future_entrance .future_information img {
  float: right;
  width: 50%;
}

.kids_entrance .openclose {
  background-color: #8fc31f;
  text-align: center;
  color: #ffffff;
  height: 26px;
  line-height: 26px;
}
.kids_entrance .kids_logo {
  border-bottom: solid 1px #8fc31f;
  height: 200px;
  text-align: center;
}
.kids_entrance .kids_logo img {
  width: 51.6528%;
}
.kids_entrance .kids_contents {
  border-bottom: solid 1px #8fc31f;
  position: relative;
}
.kids_entrance .kids_contents img {
  width: 50%;
  float: left;
}
.kids_entrance .kids_textbox {
  float: left;
  margin: -58px 0 0 -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 200px;
}
.kids_entrance .kids_textbox .h2-top {
  color: #727171;
  font-size: 24px;
  font-weight: 300;
}
.kids_entrance .kids_textbox p {
  line-height: 1.75;
  margin-top: 20px;
}
.kids_entrance .left_textbox {
  left: 25%;
}
.kids_entrance .right_textbox {
  left: 75%;
}
.kids_entrance .kids_information {
  position: relative;
}
.kids_entrance .kids_information:after {
  clear: both;
  content: "";
  display: block;
}
.kids_entrance .kids_information img {
  float: right;
  width: 50%;
}

.future_logoapp td {
  margin: 0;
  width: 25%;
}
.future_logoapp td img {
  width: 100%;
}

.kids_logoapp td {
  margin: 0;
  width: 25%;
}
.kids_logoapp td img {
  width: 100%;
}

.logoapp_textBox p {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}
.logoapp_textBox .logoapp_font {
  font-size: 36px;
  margin-top: 20px;
}

.siteMap {
  line-height: 1.75em;
}
.siteMap .top {
  text-align: left;
  font-weight: 400;
  margin-bottom: 30px;
}
.siteMap .headerElements {
  text-align: left;
  font-weight: 400;
  margin-bottom: 30px;
}
.siteMap .footerElements {
  text-align: left;
  font-weight: 400;
  margin-bottom: 30px;
}

.textMargin {
  margin-right: 30px;
}

footer .foot .footerLinks {
  line-height: 100px;
}
footer .foot .footerLinks .links {
  color: #9fa0a0;
  float: left;
  font-size: 14px;
  margin-right: 52px;
  text-decoration: none;
}
footer .foot .SNSbutton {
  float: right;
}
footer .foot .SNSbutton img {
  float: left;
  height: 50px;
  margin: 25px 0 0 30px;
  width: 50px;
}
footer .copyright p {
  color: #FFFFFF;
  font-size: 13px;
  line-height: 26px;
}

.FCH_logo {
  background-color: #f39800;
  position: relative;
}
.FCH_logo .FCHlogo_vertical {
  position: absolute;
  height: 60%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.KPH_logo {
  background-color: #8fc31f;
  position: relative;
}
.KPH_logo .KPHlogo_vertical {
  position: absolute;
  height: 60%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.FCH_explain {
  color: #f39800;
  font-size: 24px;
  line-height: 1.75em;
  text-align: center;
}

.KPH_explain {
  color: #8fc31f;
  font-size: 24px;
  line-height: 1.75em;
  text-align: center;
}

.heading {
  padding: 50px 0 40px 0;
}
.heading p {
  color: #727171;
  font-size: 24px;
  margin-left: 24px;
}

.heading-lineup {
  padding: 50px 0 40px 0;
  float: left;
}
.heading-lineup .headingTitle {
  color: #727171;
  font-size: 24px;
  margin-left: 12px;
  float: left;
}

.monthSort {
  float: left;
  margin: 50px 0 40px 100px;
  color: #727171;
  font-size: 13px;
  line-height: 1.75em;
}
.monthSort li {
  display: inline;
  margin-right: 26px;
  font-size: 15px;
  font-weight: 400;
  color: #9fa0a0;
  border-bottom: solid 1px #9fa0a0;
}
.monthSort .active {
  font-size: 17px;
  font-weight: 400;
  margin-top: -1px;
  color: #727171;
  border: none;
}

.archive {
  float: left;
  margin: 50px 0 40px 50px;
  color: #727171;
  font-size: 13px;
  line-height: 1.75em;
}
.archive li {
  display: inline;
  margin-right: 26px;
  font-size: 15px;
  font-weight: 400;
  color: #9fa0a0;
  border-bottom: solid 1px #9fa0a0;
}
.archive .archive_year {
  font-size: 13px;
  border: none;
}
.archive .active {
  font-size: 17px;
  font-weight: 400;
  color: #727171;
  border: none;
}

.headmark {
  width: 6px;
  height: 6px;
  margin-top: 7px;
  border: 3px solid #727171;
  float: left;
  display: inline-block;
}

#all_eventmenu {
  border-top: solid 1px #9fa0a0;
}

.eventmenu {
  border-bottom: solid 1px #9fa0a0;
}
.eventmenu:after {
  clear: both;
  content: "";
  display: block;
}

.event_textBox_wrap {
  position: relative;
  float: right;
}

.event_textBox {
  margin: 24px 0 0 50px;
  position: relative;
}
.event_textBox .event_title {
  font-size: 24px;
  color: #f39800;
  font-weight: 400;
  margin-bottom: 24px;
}
.event_textBox .event_point {
  line-height: 1.75em;
  color: #727171;
  float: left;
  margin-bottom: 7px;
}
.event_textBox .event_point .event_point_cap {
  float: left;
  font-weight: 400;
}
.event_textBox .event_point .event_point_contents {
  float: left;
  margin: 0 42px 0 14px;
}
.event_textBox .event_detail {
  font-size: 14px;
  color: #9fa0a0;
  font-weight: 200;
  line-height: 1.75em;
  float: right;
  margin-right: 40px;
  width: calc(100% - 300px);
}

.eventArchive_textBox_wrap {
  position: relative;
}
.eventArchive_textBox_wrap .eventArchive_detail {
  font-size: 14px;
  color: #9fa0a0;
  font-weight: 200;
  line-height: 1.75em;
  float: left;
  width: calc(100% - 40px);
}

.button {
  position: absolute;
  width: 88px;
  height: 36px;
  border: 1px solid #727171;
  color: #727171;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
}
.button p {
  display: inline;
  line-height: 36px;
}

.subscriptionButton {
  bottom: 24px;
  left: 50px;
}

.collectevent {
  margin-top: 40px;
  line-height: 1.75em;
}
.collectevent .form_guide {
  margin-top: 24px;
}

#all_experiencemenu {
  border-top: solid 1px #9fa0a0;
}

.experiencemenu {
  border-bottom: solid 1px #9fa0a0;
}

.exmenu_textBox_wrap {
  position: relative;
}

.exmenu_textBox {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 210px;
  height: 150px;
  vertical-align: middle;
  text-align: center;
}
.exmenu_textBox .exmenu_device {
  font-size: 13px;
  color: #727171;
  font-weight: 400;
}
.exmenu_textBox .exmenu_title {
  font-size: 21px;
  font-weight: 400;
  margin-top: 19px;
}
.exmenu_textBox .FCHcolor {
  color: #f39800;
}
.exmenu_textBox .KPHcolor {
  color: #8fc31f;
}
.exmenu_textBox .exmenu_detail {
  font-size: 14px;
  color: #9fa0a0;
  font-weight: 200;
  margin-top: 30px;
  line-height: 1.75em;
}

.info_table_FCH, .info_table_KPH {
  text-align: left;
  width: 100%;
}
.info_table_FCH tr, .info_table_KPH tr {
  height: 50px;
  width: 100%;
}
.info_table_FCH .adFee, .info_table_KPH .adFee {
  height: 71px;
}
.info_table_FCH th, .info_table_KPH th {
  width: 21.5%;
  padding-left: 14px;
  padding-top: 17px;
  background-color: #f7f8f8;
  font-size: 13px;
  font-weight: 400;
}
.info_table_FCH td, .info_table_KPH td {
  padding-left: 14px;
  line-height: 1.75em;
}

.info_table_FCH {
  border-top: solid 1px #f39800;
}
.info_table_FCH tr {
  border-bottom: solid 1px #f39800;
  border-style: dotted;
}
.info_table_FCH th {
  color: #f39800;
}

.info_table_KPH {
  border-top: solid 1px #8fc31f;
}
.info_table_KPH tr {
  border-bottom: solid 1px #8fc31f;
  border-style: dotted;
}
.info_table_KPH th {
  color: #8fc31f;
}

/* modal-content„ÅÆCSS */
.modal-content {
  width: calc(90vh + 400px);
  margin: 0;
  background: #fff;
  border: solid 1px #f39800;
  position: fixed;
  display: none;
  z-index: 2;
  overflow: scroll;
}
.modal-content .exmenu_title_future {
  position: absolute;
  font-size: 21px;
  color: #f39800;
  font-weight: 400;
  top: 4%;
  left: 50%;
  margin-left: -105px;
}
.modal-content #modal-close img {
  width: 20px;
  position: absolute;
  top: 4%;
  right: calc(5% - 10px);
}

#modal-overlay {
  z-index: 1;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background-color: rgba(0, 0, 0, 0.6);
}

.pageTitle_event {
  border-bottom: solid 1px;
  border-top: solid 1px;
  color: #3e3a39;
  font-size: 21px;
  font-weight: 500;
}
.pageTitle_event .titleText {
  border-left: solid 1px;
  line-height: 63px;
}

#map_canvas .kids_map {
  margin-left: 14px;
  color: #8fc31f;
  line-height: 1.75em;
}
#map_canvas .future_map {
  margin-left: 14px;
  color: #f39800;
}

.lineSpace {
  line-height: 1.75em;
}

.pageTitle {
  border-bottom: solid 1px;
  border-top: solid 1px;
  color: #3e3a39;
  font-size: 21px;
  font-weight: 500;
}
.pageTitle .titleText {
  border-left: solid 1px;
  line-height: 63px;
}

.archives .headmarkMargin {
  margin: 0 0 24px 24px;
}

.success {
  color: #727171;
  font-size: 16px;
}

.touristOffice .lineSpace {
  color: #9fa0a0;
  font-size: 14px;
}

.touristGuide .lineSpace {
  color: #9fa0a0;
  font-size: 14px;
}

.inputForm p {
  margin: 10px 0 10px 0;
}
.inputForm input {
  border: none;
  background-color: #efefef;
}
.inputForm textarea {
  border: none;
  background-color: #efefef;
}
.inputForm label {
  vertical-align: top;
}

.formFont {
  color: #727171;
  font-size: 13px;
}

.menu {
  float: left;
  width: 70%;
}
.menu ul {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  line-height: 1.75em;
  list-style: none;
}

.menu label {
  border-top: 1px solid #dddddd;
  color: #727171;
  display: block;
  position: relative;
  padding: 24px 0 24px 0;
}
.menu label .btn {
  bottom: 0;
  display: block;
  height: 12px;
  margin: auto;
  position: absolute;
  right: 20px;
  top: 0;
  width: 20px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

input[type="checkbox"].on-off {
  display: none;
}
input[type="checkbox"].on-off + .element ul {
  height: 0;
  overflow: hidden;
}

input[type="checkbox"].on-off:checked + .element ul {
  height: 200px;
  margin-bottom: 24px;
}
input[type="checkbox"].on-off:checked + .element .btn {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.borderLine {
  border-top: 1px solid #dddddd;
  padding-bottom: 40px;
}

/* state */
