@charset "UTF-8";

.wrap{
  margin: 0 auto;
  //width: calc(100% * (1000 / 1080));
  @include clearfix;
  @media #{$normal} {
    max-width: 1440px;
    min-width: 1080px;
  }
  @media #{$small} {
    width: calc(100% * (728 / 768)); //$small時は画面幅768pxの時に728pxの比率をキープ
  }
}

.autoMargin{
  @media #{$normal} {
    margin: 0 calc(100% * (40 / 1080)) 0 calc(100% * (40 / 1080)); //$normal時は画面幅1080pxの時に40pxの比率をキープ
  }
}

#wrapper{
  #header{
    @media #{$normal} {
      display: none;
    }
  }
  #header_sp{
    @media #{$normal} {
      display: none;
    }
    @media #{$small} {
      background: $g__fontColor;
      font-size: 40px;
      margin-bottom: 12px;
    }
  }
}

.imageContainer {
  position: relative;
  width: 100%;
}
#imageArea {
  width: 100%;
  position: relative;
}

.latestEvent{
  margin-right: calc(-100% * (32 / 1000)); //画面幅1080xのwrapの幅1000pxと32pxの比率をキープ
}

.nav_TOP{
  height: 70px;
  margin: 0 auto 50px auto;
  @media #{$small} {
    display: none;
  }
}

.gHeader{
  height: 81px;
  @media #{$small} {
    display: none;
  }
}

.topcap{
  padding: 50px 0 40px 0;
  @media #{$small} {
    padding: 46px 0 20px 0;
  }
}

.future_entrance{
  background-color: $boxcolor;
  border: solid 1px $g__color-future;
  float:left;
  margin: -1px;
  width: calc(100% * (484 / 1000)); //画面幅1080xのwrapの幅1000pxと484pxの比率をキープ
  @include smallW;
  @media #{$small} {
    margin-bottom: 20px;
  }
}

.kids_entrance{
  background-color: $boxcolor;
  border: solid 1px $g__color-kids;
  float: right;
  margin: -1px;
  width: calc(100% * (484 / 1000)); //画面幅1080xのwrapの幅1000pxと484pxの比率をキープ
  @include smallW;
  @media #{$small} {
    margin-bottom: 20px;
  }
}

.future_logoapp{
  background-color: $g__color-future;
  color: white;
  float: left;
  height: auto;
  position: relative;
  text-align: center;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, .16);
  width: 48.4%;
  margin-top: calc(100% * (32 / 1000)); //画面幅1080xのwrapの幅1000pxと32pxの比率をキープ
  @include smallW;
  @media #{$small} {
    margin-bottom: 20px;
  }
}

.kids_logoapp{
  background-color: $g__color-kids;
  color: white;
  float: right;
  height: auto;
  position: relative;
  text-align: center;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, .16);
  width: 48.4%;
  margin-top: calc(100% * (32 / 1000)); //画面幅1080xのwrapの幅1000pxと32pxの比率をキープ
  @include smallW;
  @media #{$small} {
    margin-top: 0;
  }
}

.logoapp_textBox{
  bottom: 0;
  height: 70px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 350px;
  z-index: 10;
}

footer{
  width: 100%;
  margin-top: 60px;
  .foot{
    @media #{$normal} {
      height: 96px;
    }
    width: 100%;
    @include clearfix;
  }
  .copyright{
    background: #9fa0a0;
    height: 24px;
    @media #{$minimum} {
      width: 1080px;
    }
    width: 100%;
  }
  @include clearfix;
}

.HMP_logo{
  width: 100%;
  height: calc(100vh - 185px); //画面の縦幅 - ヘッダー(93px) - 見出しのマージン(50px) - 見出しと行間(42px)
}

.FCH_logo{
  width: 100%;
  height: calc(100vh - 185px); //画面の縦幅 - ヘッダー(93px) - 見出しのマージン(50px) - 見出しと行間(42px)
}

.KPH_logo{
  width: 100%;
  height: calc(100vh - 185px); //画面の縦幅 - ヘッダー(93px) - 見出しのマージン(50px) - 見出しと行間(42px)
}

.facility_explain{
  padding: 50px 0 20px 0;
  @media #{$small} {
    display: none;
  }
}

.facility_detail{
  @media #{$small} {
    display: none;
  }
}

.facility_explain_sp{
  padding: 16px 0 20px 0;
  @media #{$normal} {
    display: none;
  }
}

.facility_detail_sp{
  padding: 16px 0 20px 0;
  @media #{$normal} {
    display: none;
  }
}

.event_textBox_wrap, .event_pic,
.exmenu_textBox_wrap, .exmenu_pic,
.eventArchive_textBox_wrap, .eventArchive_pic{
  @media #{$normal} {
    max-height: calc(1440px * 0.25);
    min-height: calc(1080px * 0.25);
  }
}

.event_textBox_wrap{
  @media #{$normal} {
    width: 75%;
    height: 25vw;
  }
  .inputForm{
    .confirm{
      margin: 0;
    }
  }
}

.event_pic{
  @media #{$normal} {
    width: 25%;
    height: 25vw;
  }
  @media #{$small} {
    width: 100%;
  }
}

.eventArchive_textBox_wrap{
  @media #{$normal} {
    width: 50%;
    height: 25vw;
  }
}

.eventArchive_pic{
  @media #{$normal} {
    width: 50%;
    height: 25vw;
  }
}

.eventArchive_leftText{
  @media #{$normal} {
    .eventArchive_textBox_wrap{
      float: left;
    }
    .eventArchive_pic{
      float: right;
    }
  }
}

.eventArchive_rightText{
  @media #{$normal} {
    .eventArchive_textBox_wrap{
      float: right;
    }
    .eventArchive_pic{
      float: left;
    }
  }
}

.exmenu_leftText{
  @media #{$normal} {
    .exmenu_textBox_wrap{
      float: left;
    }
    .exmenu_pic{
      float: right;
    }
  }
  @media #{$normal} {
    .exmenu_textBox_wrap{
      float: left;
    }
    .exmenu_pic{
      float: right;
    }
  }
}

.exmenu_rightText{
  @media #{$normal} {
    .exmenu_textBox_wrap{
      float: right;
    }
    .exmenu_pic{
      float: left;
    }
  }
}

.exmenu_textBox_wrap{
  @include smallW;
  @media #{$normal} {
    width: 25%;
    height: 25vw;
  }
  @media #{$small} {
    width: 100%;
    height: 50vw;
  }
}

.exmenu_pic{
  @include smallW;
  @media #{$normal} {
    width: 75%;
    height: 25vw;
  }
  @media #{$small} {
    width: 100%;
    height: 50vw;
  }
}

.heading{
  @include clearfix;
}

.pageTitle_event{
  //margin: 12px 0 0 0;
  .titleText{
    padding-left: 24px;
  }
}

.map_container{
  position: relative;
  padding-top: 60vh;
}

#map_canvas{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60vh;
}

.adress{
  @media #{$normal} {
    width: 50%;
    float: left;
    .heading{
      >p{
        margin-bottom: 24px;
      }
    }
  }
}

.parking{
  @media #{$normal} {
    width: 50%;
    float: left;
    .heading{
      >p{
        margin-bottom: 24px;
      }
    }
  }
}

.access{
  width: 100%;
  float: left;
  .heading{
    >p{
      margin-bottom: 24px;
    }
  }
}

.accessProcess{
  width: 100%;
  img{
    width: 100%;
  }
  @media #{$normal} {
    float: left;
    .accessProcess_sp{
      display: none;
    }
  }
  @media #{$small} {
    img{
      display: none;
    }
    .accessProcess_sp{
      margin-left: 16px;
      text-align: left;
    }
  }
}

//↑加納↓高居

.pageTitle{
  margin-bottom: 50px;
  .titleText{
    padding-left: 24px;
  }
}

.archives{
  @media #{$normal} {
    float: right;
    width: 30%;
    .archiveLayout{
      margin-left: 75px;
    }
  }
  @media #{$small} {
    margin-bottom: 41px;
  }
}

.autoHeight{
  min-height: calc(100vh - 93px - 115px - 273px); //画面表示高さ - ヘッダー - 見出し - フッター
  @media #{$small} {
    min-height: calc(100vh - 52px - 115px - 389px); //画面表示高さ - ヘッダー - 見出し - フッター
  }
} //減算したヘッダー・見出し・フッターの領域はmarginを含む
/*
.autoHeight-ac{
  min-height: calc(100vh - (71px) - (65px + (12px + 50px)) - (2.9629vw + 40px + 96px + 24px));
  @media #{$small} {
    min-height: calc(100vh - 127px - 461px);
  }
}
*/
.p-layout{
  @media #{$normal} {
    position: relative;
    width: 100%;
  }
}

.p-centering{
  @media #{$normal} {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
  }
}

.topMargin{
  @media #{$normal} {
    top: calc(50% - 50px);
  }
}

.p-margin{
  margin-top: 41px;
}

.sponsor{
  .heading{
    margin-top: 0;
    width: 100%;
    @media #{$small} {
      padding: 0;
    }
  }
  p{
    margin-bottom: 40px;
  }
  .companyLinks{
    @media #{$small} {
      margin-left: 16px;
      .companyLogo{
        margin-bottom: 40px;
      }
      a:after{
        content: "\A";
        white-space: pre;
      }//改行を無理矢理挿入するコードです。実はmoduleのサイトマップのところにもあります。
    }
  }
}

.touristOffice{
  @media #{$normal} {
    //float: left;
    float: right;
    width: 50%;
    p{
      margin-left: 24px;
    }
  }
  @media #{$small} {
    p{
      margin-left: 16px;
    }
  }
  .heading{
    margin-top: 0;
    padding-bottom: 24px;
  }
}

.touristGuide{
  @media #{$normal} {
    //float: right;
    float: left;
    width: 50%;
    p{
      margin-left: 24px;
    }
  }
  @media #{$small} {
    p{
      margin-left: 16px;
    }
  }
  .heading{
    margin-top: 0;
    padding-bottom: 24px;
  }
}

.radio{
  @media #{$normal} {
    margin-bottom: 8px;
  }
  @media #{$small} {
    .radioElement{
      display: block;
      margin-bottom: 20px;
    }
  }
}

.inputForm{
  @media #{$small} {
    display: none;
  }
}

.inputBox, .inputBox_sub, .inputBox_conf, .inputBox_Econf{
  width: 100%;
  th{
    padding-right: 30px;
  }
  td{
    padding: 8px 0 8px 0;
  }
  .confirm{
    margin: 24px 0 0 0;
  }
}

.inputBox_sub, .inputBox_Econf{
  td{
    padding: 0 0 16px 0;
  }
}

.inputForm_sp{
  @media #{$normal} {
    display: none;
  }
  .inputBox_sp, .inputBox_conf_sp, .inputBox_sp_b, .inputBox_conf_sp_b,{
    margin-bottom: 20px;
    input{
      height: 36px;
      width: 100%;
    }
    p{
      margin-bottom: 13px;
    }
    textarea{
      height: 108px;
      width: 100%;
    }
  }
  .inputBox_sp_b, .inputBox_conf_sp_b{
    margin-bottom: 30px;
  }
}

#logoApp{
  margin: 0 auto 100px auto;
  width: 1080px;
  @include smallW;
  @media #{$small} {
    padding: 0 20px;
  }
}

.logoApp_example{
  width: 1080px;
  @include smallW;
  @include clearfix;
}

.logoApp_exampleTable{
  float: right;
  height: 1080px / 2;
  margin-bottom: 20px;
  width: 1080px / 2;
  @include smallW;
  @media #{$small} {
    height: auto;
    margin-bottom: 0;
  }
  td{
    width: 25%;
  }
}

.logoApp_exampleImage{
  width: 100%;
}

.logoApp_link{
  display: block;
  margin: auto;
  text-decoration: none;
  width: 220px;
  @media #{$small} {
    margin-top: 20px;
  }
}

.logoApp_linkButton{
  border: 2px solid $g__fontColor;
  border-radius: 5px;
  color: $g__fontColor;
  margin: auto;
  padding: 15px;
  text-align: center;
  transition: .1s;
  &:hover{
    background-color: $g__fontColor;
    color: #fdfdfd;
  }
}

.logoApp_send{
  padding: 25px;
  h2{
    border-bottom: none;
  }
  .guide_logoApp{
    width: 600px;
    margin: 50px auto 0 auto;
    @include clearfix;
    .guide_logoApp_future{
      width: auto;
      float: left;
    }
    .guide_logoApp_kids{
      width: auto;
      float: right;
    }
    img{
      width: 200px;
    }
  }
}

.HMP_movie{
  text-align: center;
  h3{
    padding: 50px 0 30px 0;
  }
  .movie_youtube{
    height: 800px / 16 * 9;
    width: 800px;
    @include smallW;
    @media #{$small} {
      height: 100vw * 728 / 768 / 16 * 9;
    }
  }
}