@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

html{
  background-color: $g__bgc;
  color: $g__fontColor;
  font:{
    family: 'Noto Sans Japanese', sans-serif;
    size: $g__fontSize;
    weight: 200;
  }
  letter-spacing: .2em;
}

header{
  background-color: $header_comming__bgc;
  color: $header_comming__fontColor;
}

h2{
  border-bottom: 1px solid $h2__bbColor;
  font-size: $h2__fontSize;
  margin: 0 auto 50px auto;
  padding-bottom: 15px;
  text-align: center;
  width: $pc__w;
  @include smallW;
  @media #{$small} {
    font-size: $h2__fontSize * .75;
  }
}

h4{
  margin: 0;
}
