@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

html, input, textarea{
  color: $g__fontColor;
  @media #{$small} {
    color: $sp__fontColor;
  }
  font:{
    family: 'Noto Sans Japanese', sans-serif;
    size: $g__fontSize;
    weight: 200;
  }
  @media #{$small} {
    font-size: $sp__fontSize;
  }
  line-height: 1.75em;
}

header{
  color: $g__fontColor;
}

h2{
  color: $h2__color;
  font-size: $h2__fontSize;
  font-weight: 300;
}

h3{
  font-size: $h3__fontSize;
}

.caption{
  font-size: $cap__fontSize;
  font-weight: 400;
}

li{
  list-style: none;
}

a{
  color: $g__fontColor;
  text-decoration: none;
  @media #{$small} {
    color: $sp__fontColor;
  }
}

a:hover{
  @media #{$normal} {
    opacity: .6;
  }
}

.FCHcolor{
  color: $g__color-future;
}

.KPHcolor{
  color: $g__color-kids;
}

.bgcolor{
  @media #{$normal} {
    background-color: $bg__color;
  }
  @media #{$minimum} {
    width: 1080px;
  }
}
.bgcolor-top{
  @media #{$normal} {
    background-color: $bg__color;
    padding-bottom: 40px;
  }
  @media #{$minimum} {
    width: 1080px;
  }
}

.linkText{
  border-bottom: solid 1px $link__fontColor;
  color: $link__fontColor;
  font-size: $link__fontSize;
  font-weight: 500;
  @media #{$small} {
    font-size: 16px;
  }
}

.only_pc{
  @media #{$small} {
    display: none;
  }
}

.only_sp{
  @media #{$normal} {
    display: none;
  }
}

//↑加納↓高居
