@charset "UTF-8";
//We cannot type Japanese, maybe using japanese make error.を殺す

.menu{
  border-bottom: 1px solid $accordion__border;
  margin-bottom: 40px;
  width: 70%;
  ul{
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    line-height: 1.75em;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li{
    padding: 5px;
  }
  label{
    border-top: 1px solid $accordion__border;
    display: block;
    margin: 0;
    padding: $h2__fontSize 0 $h2__fontSize 0;
  }
}

input[type = "checkbox"].on-off{
  display: none;
  +ul{
    height: 0;
    overflow: hidden;
  }
}

input[type = "checkbox"].on-off:checked{
  +ul{
    height: 100px;
  }
}