@charset "UTF-8";

#imageArea img {
  position: absolute;
  display: block;
  margin: 0 auto;
}
#imageBox1,
#imageBox2,
#imageBox3,
#imageBox4,
#imageBox5,
#imageBox6,
#imageBox7,
#imageBox8 {
  width: 25%;
  float: left;
}
#indexTitle {
  //background-color: rgba(0, 0, 0, 0.3);
  width: 60%;
  //border-top: 1px #fff solid;
  //border-bottom: 1px #fff solid;
  //color: #fff;
  position: absolute;
  text-align: center;
  img {
    width: 100%;
  }
}

.index_openExplain,
.index_openExplain_sp{
  line-height: 1.75em;
  padding: 32px 0;
  text-align: center;
  color: $title__color;
  @include smallM;
}

.index_openExplain{
  font-size: 32px;
}

.index_openExplain_sp{
  font-size: 20px;
}

#logoArea{
  a{
    transition: .2s;
    &:hover{
      opacity: .8;
    }
  }
  @media #{$small} {//android-chrome対策
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

.indexTop_logo{
  position: absolute;
  height: 25vw;//縦・横幅1/4を維持
  width: 25%;
  top: 12.5vw;//小さい画像１つ分あける
  z-index: 50;
  img{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  @media #{$minimum} {
    height: calc(1080px / 4);
    width: calc(1080px / 4);
    top: calc(1080px / 8);
  }
  @media #{$small} {
    height: 50vw;
    width: 50%;
    top: 50vw;
    img{//android-chrome対策
      height: 100%;
      width: 100%;
    }
  }
  @media #{$minimum} {
    height: calc(1080px / 4); //横幅を1080pxに固定した場合の高さ
    top: calc(1080px / 8); //横幅を1080pxに固定した場合の縦位置
  }
}

.indexTop_logo-future{
  left: 25%;
  background-color: $g__color-future;
  @media #{$minimum} {
    left: calc(1080px / 4);
  }
  @media #{$small} {
    left: 0;
  }
  img{
    top: 2%;
    height: 58%;
  }
}

.indexTop_logo-kids{
  right: 25%;
  background-color: $g__color-kids;
  @media #{$minimum} {
    left: calc(1080px / 4 * 2);
    right: auto;
  }
  @media #{$small} {
    right: 0;
  }
  img{
    top: 0;
    height: 60%;
  }
}

.topcap{
  text-align: center;
}
.latestEvent{
  font-size: 0;
  //padding-bottom: 40px;
  //margin-top: 40px;
  .latestBox_future{
    background-color: $boxcolor;
    border: solid 1px $g__color-future;
    display: inline-block;
    margin-right: calc(100vw * (32 / 1080)); //ウィンドウ幅1080px時の32pxの比率をキープ
    position: relative;
    @media #{$small} {
      margin-left: calc(100% * (20 / 768)); //ウィンドウ幅768px時の20pxの比率をキープ
    }
    @media #{$minimum} {
      margin-right: 32px; //ウィンドウ幅1080px固定の時はの32pxに
    }
    @media #{$maximum} {
      margin-right: calc(1440px * (32 / 1080)); //ウィンドウ幅1080px時の32pxの比率をキープ
    }
    .remaindays_future{
      background-color: $g__color-future;
      height: 26px;
      left: 0px;
      position: absolute;
      top: 0px;
      width: 86px;
      .caption{
        color: #ffffff;
        height: 26px;
        line-height: 26px;
        text-align: center;
        z-index: 10;
      }
    }
  }
  .latestBox_kids{
    background-color: $boxcolor;
    border: solid 1px $g__color-kids;
    display: inline-block;
    margin-right: calc(100vw * (32 / 1080)); //ウィンドウ幅1080px時の32pxの比率をキープ
    position: relative;
    @media #{$small} {
      margin-left: calc(100% * (20 / 768)); //ウィンドウ幅768px時の20pxの比率をキープ
    }
    @media #{$minimum} {
      margin-right: 32px; //ウィンドウ幅1080px固定の時はの32pxに
    }
    @media #{$maximum} {
      margin-right: calc(1440px * (32 / 1080)); //ウィンドウ幅1080px時の32pxの比率をキープ
    }
    .remaindays_kids{
      background-color: $g__color-kids;
      height: 26px;
      left: 0px;
      position: absolute;
      top: 0px;
      width: 86px;
      .caption{
        color: #ffffff;
        height: 26px;
        line-height: 26px;
        text-align: center;
        z-index: 10;
      }
    }
  }
  // .latestBox_img{
  //   height: calc(100% * (126 / 224)); //latestBoxが224px(borderは含めず)の時に126pxの比率をキープ
  // }
  img{
    height: calc(100% * (126 / 224)); //latestBoxが224px(borderは含めず)の時に126pxの比率をキープ
    width: 100%;
  }
  .eventText{
    position: absolute;
    // left: calc((100% - 231px) * 0.5);
    left: 16px;
    position: absolute;
    top: 80%;
    transform: translate(0%, -50%);
    text-align: left;
    width: calc(100% - 32px);
    //margin-left: calc(100% * (18 / 280.616));
    //margin-left: 18px;
    /*
    .eventsch{
      margin: calc(100% * (23 / 280.616)) 0 0 0;
      color: $g__color-future;
    }
    */
    .eventtitle{
      font-size: 16px;
      margin-top: 4px;
      color: $dark__fontColor;
      height: 21px;
      visibility: hidden;
    }
    .eventplace{
      margin-top: 16px;
      color: $g__fontColor;
    }
  }
  .flex-direction-nav{
    display: none;
  }
  .flex-control-nav{
    bottom: -30px;
  }
  .flex-control-paging li a{
    background-color: #c9caca;
  }
}

.moreview{
  padding: 0 calc(100% * (40 / 1080)) 50px 0; //画面幅1080pxの時に40pxの比率をキープ
  text-align: right;
  @media #{$small} {
    padding: 50px calc(100% * (20 / 768)) 40px 0; //画面幅768pxの時に20pxの比率をキープ
  } //moreviewがlatestEventに埋まってたので上のpaddingを40増やしました。
}

header{
  height: 81px;
  @media #{$normal} {
    max-width: 1440px;
    min-width: 1080px;
  }
  @media #{$small} {
    display: none;
  }
  margin: 0 auto;
  a{
    color: $dark__fontColor;
  }
}

.nav_TOP{
  background-color: $boxcolor;
  a{
    color: $dark__fontColor;
  }
}

.gNav_container{
  padding-top: 28px;
  width: calc(100% * 1000 / 1080); //画面幅1080pxの時に1000pxの比率をキープ
  margin: 0 auto;
}

.gNav_TOP{
  color: $g__fontColor;
  margin-top: 28px;
  border-right: 1px solid $g__fontColor;
  color: $g__fontColor;
  margin: 0 auto;
  @include clearfix;
}

// .gHeader{
//   background-color: $boxcolor;
// }
//headerにまとめる

.pNav{
  font-size: 12px;
  font-weight: 200;
  margin: 13px calc(-100% * (40 / 1080)); //画面幅1080pxの時に40pxの比率をキープ
  width: 100%;
  @include clearfix;
}

.rightpNav{
  float: right;
  margin-left: 24px;
}

.language{
  // float: left;
  display: none;
}

.gNav{
  color: $g__fontColor;
  margin: 28px auto 0 auto;
  border-right: 1px solid $g__fontColor;
  width: calc(100% * (1000 / 1080)); //画面幅1080pxの時に1000pxの比率をキープ
  @include clearfix;
}

.gNavli{
  border-left: 1px solid $g__fontColor;
  float: left;
  font-weight: 400;
  text-align: center;
  width: calc(100% / 6 - 1px); //6個のナビゲーション - 1pxの区切りの線
  a{
    display: block;
  }
}


.future_entrance{
  a:hover{
    opacity:1;
    filter: alpha(opacity=100);
  }
  .openclose{
    color: $g__color-future;
    height: 26px;
    line-height: 26px;
    text-align: center;
  }
  .future_logo{
    border-bottom: solid 1px $g__color-future;
    background-color: $g__color-future;
    height: calc(100vw * (180 / 1080)); //画面幅1080pxの時に180pxの比率をキープ
    width: calc(100% + 2px); //両端のborderも含める
    display: table;
    text-align: center;
    @media #{$small} {
      height: calc(100vw * 2 * (180 / 1080)); //画面幅1080pxの時に180pxの比率の2倍をキープ
    }
    @media #{$minimum} {
      height: 180px; //画面幅1080pxの時は180pxに固定
    }
    @media #{$maximum} {
      height: 240px; //画面幅1440pxの時は240pxに固定
    }
    .future_logo_img{
      // position: absolute;
      // top: 50%;
      // left: 50%;
      // text-align: center;
      display: table-cell;
      vertical-align: middle;
      img{
        width: calc(100% * (252 / 484)); //future_logo_imgが484pxの時に252pxの比率をキープ
      }
    }
  }
  .future_logo:hover{
    opacity:0.6;
  }
  .future_contents{
    border-bottom: solid 1px $g__color-future;
    position: relative;
    img{
      float: left;
      width: 50%;
    }
  }
  .future_contents:hover{
    @media #{$normal} {
      opacity: .6;
    }
  }
  .future_textbox{
    float: left;
    margin: -12px 0 0 -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 200px;
    .h2-top{
      color: $h2__color;
      font-size: $h2__fontSize;
      font-weight: 300;
    }
    p{
      line-height: 1.75;
      margin-top: 20px;
    }
  }
  .left_textbox{
      left: 25%
  }
  .right_textbox{
      left: 75%
  }
  .future_information{
    position: relative;
    @include clearfix;
    img{
      float: right;
      width: 50%;
    }
  }
  .future_information:hover{
    @media #{$normal} {
      opacity: .6;
    }
  }
}

.kids_entrance{
  a:hover{
    opacity:1;
    filter: alpha(opacity=100);
  }
  .openclose{
    text-align: center;
    color: $g__color-kids;
    height: 26px;
    line-height: 26px;
  }
  .kids_logo{
    border-bottom: solid 1px $g__color-kids;
    background-color: $g__color-kids;
    height: calc(100vw * (180 / 1080));//画面幅1080pxの時に180pxの比率をキープ
    width: calc(100% + 2px); //両端のborderも含める
    display: table;
    text-align: center;
    @media #{$small} {
      height: calc(100vw * 2 * (180 / 1080)); //画面幅1080pxの時に180pxの比率の2倍をキープ
    }
    @media #{$minimum} {
      height: 180px; //画面幅1080pxの時は180pxに固定
    }
    @media #{$maximum} {
      height: 240px; //画面幅1440pxの時は240pxに固定
    }
    .kids_logo_img{
      // position: absolute;
      // top: 50%;
      // left: 50%;
      // text-align: center;
      display: table-cell;
      vertical-align: middle;
      img{
        width: calc(100% * (300 / 484)); //kids_logo_imgが484pxの時に300pxの比率をキープ
      }
    }
  }
  .kids_logo:hover{
    @media #{$normal} {
      opacity: .6;
    }
  }
  .kids_contents{
    border-bottom: solid 1px $g__color-kids;
    position: relative;
    img{
    width: 50%;
    float: left;
    }
  }
  .kids_contents:hover{
    @media #{$normal} {
      opacity: .6;
    }
  }
  .kids_textbox{
    float: left;
    margin: -12px 0 0 -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 200px;
    .h2-top{
      color: $h2__color;
      font-size: $h2__fontSize;
      font-weight: 300;
    }
    p{
      line-height: 1.75;
      margin-top: 20px;
    }
  }
  .left_textbox{
      left: 25%
  }
  .right_textbox{
      left: 75%
  }
  .kids_information{
    position: relative;
    @include clearfix;
    img{
      float: right;
      width: 50%;
    }
  }
  .kids_information:hover{
    @media #{$normal} {
      opacity: .6;
    }
  }
}

.future_logoapp, .kids_logoapp{
  td{
    margin: 0;
    width: 25%;
    img{
      width: 100%;
    }
  }
}

.logoapp_textBox{
  p{
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  }
  .logoapp_font{
    font-size: 36px;
    margin-top: 20px;
  }
}

.siteMap{
  .linkGroup{
    text-align: left;
    font-weight: 400;
    @media #{$normal} {
      padding-bottom: 30px;
      .linkText{
        margin-right: 30px;
      }
    }
  }
  @media #{$normal} {
    margin-left: calc(100% * (40 / 1080)); //ウィンドウ幅1080pxと40px比率をキープ
    padding-top: 50px;
  }
  @media #{$small} {
    span{
      display: block;
      padding-bottom: 30px;
    }
    span:after{
      content: "\A";
      white-space: pre;
    }//改行を無理矢理挿入するコードです。実はlayoutの関連リンクのところにもあります。
    width: calc(100% * (728 / 768)); //画面幅768pxの時に728pxの比率をキープ
    margin: 0 auto;
    padding-top: 40px;
  }
}

footer{
  //オーバーレイをabsolute指定するため必要
  position: relative;
  //アニメーションの指定
  -webkit-transition: all .4s;
     -moz-transition: all .4s;
       -o-transition: all .4s;
          transition: all .4s;
  @include clearfix;
  .pagetop{
    height: 20px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    @media #{$small} {
      height: 24px;
    }
  }
  .pagetop:hover{
    @media #{$normal} {
      opacity: .6;
    }
  }
  .footerLinks{
    margin: 46px 0;
    text-align: center;
    @include clearfix;
    @media #{$normal} {
      //width: 504px;
    }
    @media #{$small} {
      margin: 14px 0 24px 0;
    }
    .links{
      color: $g__fontColor;
      text-decoration: none;
      @media #{$normal} {
        font-size: $g__fontSize;
        padding: 14px;
        //margin: 46px 0;
        //float: left;
      }
      @media #{$small} {
        //width: 320px;
        color: $sp__fontColor;
        width: 100%;
        font-size: 12px;
        padding: 12px 0 12px 0;
        margin: 0 auto;
        display: block;
      }
    }
  }
  .SNSbutton{
    width: 49px; // facebookiconの17px+margin16*2px
    margin: 0 auto 30px auto;
    img{
      height: 32px;
      margin: 0 16px;
      //margin-left: 30px;
      //margin-top: 25px;
    }
  }
  .copyright{
    p {
      color: #FFFFFF;
      font-size: 10px;
      line-height: 24px;
      text-align: center;
    }
  }
}

footer.open{
  //クラス「open」が付いたら左に75%移動
  -webkit-transform: translate3d(-75%, 0, 0);
     -moz-transform: translate3d(-75%, 0, 0);
          transform: translate3d(-75%, 0, 0);
}

.logoContainer{
  position: relative;
  @media #{$minimum} {
    width: 1080px;
  }
  .logo_vertical{
    position: absolute;
    height: 60%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
  .HMP_logo_vertical{
    position: absolute;
    height: 67%; //みらい館、キッズプラザよりも縦幅が大きい
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
}

.HMP_logo{
  background-color: $g__fontColor;
}

.FCH_logo{
  background-color: $g__color-future;
}

.KPH_logo{
  background-color: $g__color-kids;
}

.facility_explain{
  font-size: $h2__fontSize;
  line-height: 1.75em;
  text-align: center;
}

.facility_detail{
  text-align: center;
  line-height: 1.75em;
}

.facility_detail_sp{
  line-height: 1.75em;
}

.facility_explain_sp{
  font-size: $h3__fontSize;
  line-height: 1.75em;
}

.HMP_explain{
  color: $g__fontColor;
}

.FCH_explain{
  color: $g__color-future;
  font-size: $h2__fontSize;
  line-height: 1.75em;
  text-align: center;
}

.KPH_explain{
  color: $g__color-kids;
  font-size: $h2__fontSize;
  line-height: 1.75em;
  text-align: center;
}

.heading{
  color: $h2__color;
  font-size: $h2__fontSize;
}

.concierge{
  color: $g__color-kids;
  font-size: $h3__fontSize;
}

.heading, .concierge{ //まとめました。
  padding: 50px 0 40px calc(100% * (40 / 1080)); //画面幅1080pxの時に40pxの比率をキープ
  @include smallM;
  @media #{$small} {
    font-size: 18px;
    padding: 40px 0 27px 0; //smallM導入により、スッキリしました。
  }
}

.heading-lineup{
  @include smallM;
  @media #{$normal} {
    padding: 50px 0 40px calc(100% * (40 / 1080)); //padding_topもどしました。
    //float: left; お前はなんで浮いてたんだ？
    .headingTitle{
      color: $h2__color;
      font-size: $h2__fontSize;
      //margin-left: 12px;
      //float: left;
    }
  }
  @media #{$small} {
    font-size: 18px;
    padding: 40px 0 27px 0;
    .headingTitle{
      color: $h2__color;
      font-size: 18px;
      margin-top: 40px; //heading-topの代わりになるものです。
    }
  }
}

.heading-paragraph{
  padding: 50px 0 24px 0;
  p{
    color: $h2__color;
    font-size: $h2__fontSize;
    //margin-left: 24px;
  }
  @media #{$small} {
    padding: 40px 0 27px 0;
    p{
      //margin-left: 16px;
      font-size: 18px;
    }
  }
}
/*
.heading-top{ //更に余白が必要な見出しに強引にそれを追加するためだけのクラスです。
  @media #{$small} {
    padding-top: 40px;
  }
}
*/
.monthSort{
  float: left;
  margin: 50px 0 40px 100px;
  color: $h2__color;
  font-size: $cap__fontSize;
  line-height: 1.75em;
  @include smallW;
  @media #{$small} {
    margin: 0 0 20px 0;
  }
  li{
    display: inline;
    margin-right: 26px;
    font-size: 15px;
    font-weight: 400;
    color: $g__fontColor;
    border-bottom: solid 1px $g__fontColor;
  }
  .active{
    font-size: 17px;
    font-weight: 400;
    margin-top: -1px;
    color: $dark__fontColor;
    border: none;
  }
}

.archive{
  float: left;
  margin: 50px 0 40px 50px;
  color: $h2__color;
  font-size: $cap__fontSize;
  line-height: 1.75em;
  @include smallW;
  @media #{$small} {
    margin: 0 0 20px 0;
  }
  li{
    display: inline;
    margin-right: 26px;
    font-size: 15px;
    font-weight: 400;
    color: $g__fontColor;
    border-bottom: solid 1px $g__fontColor;
  }
  .archive_year{
    font-size: $cap__fontSize;
    border: none;
  }
  .active{
    font-size: 17px;
    font-weight: 400;
    color: $dark__fontColor;
    border: none;
  }
}

.headmark{
  width: 6px;
  height: 6px;
  margin-top: 7px;
  border: 3px solid $h2__color;
  float: left;
  display: inline-block;
  @media #{$small} {
    width: 4px;
    height: 4px;
    margin-top: 5px;
    border: 2px solid $h2__color;
  }
}
/*
#all_eventmenu, #all_experiencemenu{
  border-top: solid 1px $g__fontColor;
  @media #{$normal} {
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    min-width: 1080px;
  }
  @media #{$maximum} {
    padding-bottom: 40px;
  }
}
*/
#all_experiencemenu_FCH, #all_experiencemenu_KPH, #all_eventmenu{
  //border-top: solid 1px $g__fontColor;
  @media #{$normal} {
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    min-width: 1080px;
  }
  @media #{$maximum} {
    padding-bottom: 40px;
  }
}

#all_experiencemenu_FCH{
  border-top: solid 1px $g__color-future;
}

#all_experiencemenu_KPH{
  border-top: solid 1px $g__color-kids;
}

#all_eventmenu{
  border-top: solid 1px $g__fontColor;
}

.eventmenu{
  border-bottom: solid 1px $g__fontColor;
  @media #{$normal} {
    height: 25vw;
    min-height: calc(1080px * .25);
  }
  @media #{$maximum} {
    height: calc(1440 * .25px);
  }
  @include clearfix;
}

.event_textBox_wrap{
  background: white;
  position: relative;
  @include smallW;
  @media #{$normal}{
    float: right;
  }
}

.event_textBox{
  margin: 24px 0 0 50px;
  height: calc(100% - 24px);
  position: relative;
  @include clearfix;
  @media #{$small} {
    margin: 24px calc(100% * 20 / 768) 0px calc(100% * 20 / 768); //両サイドにcalc(100% * 20 / 768)のマージン
  }
  .event_title{
    font-size: $h2__fontSize;
    font-weight: 400;
    margin-bottom: 24px;
    @media #{$small} {
      line-height: 1.4em;
    }
  }
  .event_detail{
    width: calc(100% - 300px); //event_datailまでどのイベントでも左に300pxのmarginを取る
  }
  .event_detail-short{
    width: calc(100% - 450px); //event_datail-shortまでどのイベントでも左に450pxのmarginを取る
  }
  .event_detail, .event_detail-short{
    font-size: $g__fontSize;
    color: $g__fontColor;
    font-weight: 200;
    line-height: 1.75em;
    overflow-x: hidden;
    //float: right;
    //margin-right: 40px;
    @include smallW;
    @media #{$normal} {
      float: right;
      margin-right: 40px;
    }
    @media #{$small} {
      color: $sp__fontColor;
      padding-bottom: calc(24px + 38px + 40px); //文章からボタンまで + ボタン + ボタンから次のイベント
    }
    .eventDetail_picBox{
      margin-right: -20px;
      @include clearfix;
      .eventDetail_pic{
        width: calc((100% / 3) - 20px);
        margin-right: 20px;
        margin-top: 1em;
        display: block;
        float: left;
      }
    }
  }
}
.event_point{
  line-height: 1.75em;
  color: $dark__fontColor;
  margin-bottom: 24px;
  text-align: left;
  @media #{$normal} {
    float: left;
    margin-bottom: 7px;
    // .event_point_contents-text{ //tdのテキスト自動折り返しのために追加したクラス
    //   width: calc(300px - 42px - 14px - 40px); //874行目のヤツに合わせた結果です。　式：謎の300px - th - tdのpadding-left - event_detailのmargin-right
    // }
  }
  .event_point_cap{
    font-weight: 400;
  }
  .event_point_contents{
    padding-left: 14px;
  }
}

.eventArchive_textBox_wrap{
  background: white;
  position: relative;
  @include smallW;
  .eventArchive_detail{
    font-size: $g__fontSize;
    color: $g__fontColor;
    font-weight: 200;
    line-height: 1.75em;
    width: calc(100% - 40px);
    @media #{$normal} {
      float: left;
    }
    @media #{$small} {
      padding-bottom: 40px;
    }
  }
}

/*
.button{
  //position: absolute;
  width: 88px;
  height: 36px;
  border: 1px solid $dark__fontColor;
  color: $dark__fontColor;
  font-weight: 400;
  font-size: $link__fontSize;
  text-align: center;
  p{
    display: inline;
    line-height: 36px;
  }
}
*/

.button, .rev_button, .panel{
  //border: 1px solid $dark__fontColor;
  //color: $dark__fontColor;
  font-weight: 400;
  font-size: $link__fontSize;
    height: 36px;
  //text-align: center;
  //width: 88px;
}

.button, .rev_button{
  border: 1px solid $dark__fontColor;
  cursor: pointer;
  text-align: center;
  width: 88px;
}

.button{
  background: transparent;
  color: $dark__fontColor;
  //cursor: pointer;
}

.rev_button{
  background: $dark__fontColor;
  color: #ffffff;
}

.panel{
  height: 32px;
  //padding: 1px 13px;
  .panelLabel{
    line-height: 32px;
  }
}

.subscription{
  bottom: 24px;
  left: 50px;
  position: absolute;
  @media #{$small} {
    bottom: 40px;
    left: calc(100% * 20 / 768); //ウィンドウ幅768pxの時に20pxの比率をキープ
  }
}

.send{
  padding-left: 30px;
}

.subscriptionButton{
  bottom: 24px;
  left: 50px;
  @media #{$small} {
    bottom: 40px;
    left: 20px;
  }
}

.collectevent{
  padding-top: 40px;
  margin: 0 calc(100% * (40 / 1080)); //ウィンドウ幅1080pxの時に4 //ウィンドウ幅768pxの時に20pxの比率をキープ0pxの比率をキープ
  line-height: 1.75em;
  .form_guide{
    margin-top: 24px;
  }
  @include smallM;
}

.eventabout{
  img{
    width: 100%;
  }
  .eventabout_title{
    line-height: 20px;
    font-size: 16px;
    margin-bottom: 6px;
  }
  @media #{$normal} {
    width: calc(25% * (1000 / 1080));
    float: left;
    margin-right: calc(100% * (75 / 1000)); //$normal時はウィンドウ幅1080p時のwrap1000pxと75pxの比率をキープ
    margin-left: calc(100% * (40 / 1080)); //ウィンドウ幅1080pxの時に40pxの比率をキープ
    padding-top: 50px;
  }
  @media #{$small} {
    .eventabout_title{
      margin: 24px 0 24px 0;
    }
    padding-top: 40px;
  }
  @include smallM;
}
/*
.experiencemenu{
  border-bottom: solid 1px $g__fontColor;
  cursor: pointer;
  @include clearfix;
}

.experiencemenu:hover{
  @media #{$normal} {
    opacity: .6;
  }
}
*/
.experiencemenu_FCH, .experiencemenu_KPH{
  cursor: pointer;
  @include clearfix;
}

.experiencemenu_FCH{
  border-bottom: solid 1px $g__color-future;
}

.experiencemenu_KPH{
  border-bottom: solid 1px $g__color-kids;
}

.experiencemenu_FCH:hover, .experiencemenu_KPH:hover{
  @media #{$normal} {
    opacity: .6;
  }
}
.exmenu_textBox_wrap{
  background: white;
  position: relative;
}

.exmenu_textBox{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  vertical-align: middle;
  text-align: center;
  .exmenu_device{
    font-size: $cap__fontSize;
    color: $dark__fontColor;
    font-weight: 400;
  }
  .exmenu_title{
    font-size: $h3__fontSize;
    font-weight: 400;
    margin-top: 19px;
  }
  .exmenu_detail{
    color: $g__fontColor;
    font-weight: 200;
    margin-top: 30px;
    line-height: 1.75em;
    @media #{$small} {
      color: $sp__fontColor;
    }
  }
}

.info_table_FCH, .info_table_KPH{
  margin: 0 calc(100% * 40 / 1080); //ウィンドウ幅1080pxの時に40pxの比率をキープ
  text-align: left;
  width: calc(100% - 100% * 80 / 1080); //いろいろめんどくさくなってcalc使いました。
  @include only_pc;
  tr{
    height: 50px;
    width: 100%;
  }
  .adFee{
    height: 71px;
  }
  th{
    background-color: $bg__color;
    font-size: $cap__fontSize;
    font-weight: 400;
    padding-left: 14px;
    padding-top: 17px;
    width: calc( 100% * (215 / 1000)); //はウィンドウ幅1080p時のwrap1000pxと215pxの比率をキープ
  }
  td{
    background: white;
    line-height: 1.75em;
    padding-bottom: 12px;
    padding-left: 14px;
  }
}

.info_table_FCH_sp, .info_table_KPH_sp{
  text-align: left;
  //width: 100%; g_allAreaにsmallWが効いてるので、ここの構文が削除できるのですなぁ
  @include only_sp;
  @include smallM;
}

.info_table_FCH{
  border-top: solid 1px $g__color-future;
  tr{
    border-bottom: solid 1px $g__color-future;
    //border-style: dotted;
  }
  th{
    color: $g__color-future;
  }
}

.info_table_KPH{
  border-top: solid 1px $g__color-kids;
  tr{
    border-bottom: solid 1px $g__color-kids;
    //border-style: dotted;
  }
  th{
    color: $g__color-kids;
  }
}

.info_table_FCH_label{
  color: $g__color-future;
  border-bottom: solid 1px $g__color-future;
  padding-bottom: 3px;
}

.info_table_KPH_label{
  color: $g__color-kids;
  border-bottom: solid 1px $g__color-kids;
  padding-bottom: 3px;
}

.info_table_data{
  padding: 20px 0 36px 0; //overlayをかけるためにpaddingに変更しました。
}

/* modal-contentのCSS */
.modal-content {
  // width: calc(90vh + 400px);
  height: 90%;
  width: calc(90vh * 16 / 9); //写真が16:9
  margin: 0 ;
  // background: #fff;
  // border: solid 1px $g__color-future;
  position: fixed;
  display: none;
  z-index: 2;
  overflow: hidden;
  // ↓スライドショーのタイトル
  .exmenu_title_future{
    display: none;
    // width: 100%;
    // position: absolute;
    // font-size: $h3__fontSize;
    // color: $g__color-future;
    // font-weight: 400;
    // text-align: center;
    // top: 4%;
    // left: 0;
    // z-index: 10;
  }
  .exmenu_title_kids{
    display: none;
    // width: 100%;
    // position: absolute;
    // font-size: $h3__fontSize;
    // color: $g__color-kids;
    // font-weight: 400;
    // text-align: center;
    // top: 4%;
    // left: 0;
    // z-index: 10;
  }
  #modal-close{
    cursor: pointer;
  }
  #modal-close img{
    width: 20px;
    height:20px;
    position: absolute;
    top: 4%;
    right: calc(5% - 10px);
    z-index: 10;
  }
  #modal-close img:hover{
    opacity: .6;
  }
  .exmenu_slide{
    //height: calc(100% - 115px);
    // width: 80%;
    // top: 0;
    // right: 0px;
    // bottom: 0px;
    // left: 0px;
    // position: absolute;
    // margin: calc(4% + 31px) auto auto auto;
  }
  .flexslider .slides img{
    height: 100%;
  }
}

#modal-overlay {
  z-index: 1;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background-color: rgba( 0, 0, 0, 0.6);
}

#map_canvas{
  .kids_map{
    margin-left: 14px;
    color: $g__color-kids;
    line-height: 1.75em;
  }
  .future_map{
    margin-left: 14px;
    color: $g__color-future;
  }
}

.adress{
  @media #{$normal} {
    margin-left: calc(100% * (40 / 1080)); //ウィンドウ幅1080pxと40px比率をキープ
  }
  >p{
    font-size: $g__fontSize;
  }
  .KPHaddress{
    margin-bottom: 10px;
  }
}

.parking{
  @media #{$normal} {
    margin-left: calc(100% * (40 / 1080)); //ウィンドウ幅1080pxと40px比率をキープ
  }
  .lineSpace{
    font-size: $g__fontSize;
  }
}
.movie_wrap{
  width: 800px;
  margin: 0 auto;
  padding-bottom: 20px;
  text-align: center;
  @include smallW;
  p{
    font-size: $h3__fontSize;
    color: $g__fontColor;
    font-weight: 400;
    margin: 50px 0 30px 0;
    @media #{$small} {
      margin: 20px 0 15px 0;
    }
  }
  .movie_youtube{
    width: 100%;
    height: 450px;
  }
}

.companyLogo{
  width: 160px;
  margin-right: 80px;
}

p.company_about{//別部分がコーディング規約無視しているためコーディング規約無視せざるを得ない
  margin-left: 0;
  font-size: 14px;
  line-height: 1.75;
}

.g_allArea{
  //オーバーレイをabsolute指定するため必要
  position: relative;
  margin: 0 auto;
  @include clearfix;
  @include smallW;
  @media #{$normal} {
    max-width: 1440px;
    min-width: 1080px;
  }
  //アニメーションの指定
  -webkit-transition: all .4s;
     -moz-transition: all .4s;
       -o-transition: all .4s;
          transition: all .4s;
}

.g_allArea-bgcolor{
  @media #{$normal} {
    background-color: $bg__color;
  }
  @media #{$maximum} {
    padding: 0 calc((100% - 1440px) / 2);
    //背景色を画面幅いっぱいにするため、maximumのとき画面幅からコンテンツ幅を引き2で割った値を指定
  }
}

.g_allArea-fullWidth{
  max-width: initial;
}

.g_allArea-shortPage{
  min-height: calc(100vh - 93px - 65px - 273px); //画面表示高さ - ヘッダー - 見出し - フッター
  @media #{$small} {
    min-height: calc(100vh - 52px - 65px - 389px); //画面表示高さ - ヘッダー - 見出し - フッター
  }
}

.g_allArea.open{
  //クラス「open」が付いたら左に75%移動
  -webkit-transform: translate3d(-75%, 0, 0);
     -moz-transform: translate3d(-75%, 0, 0);
          transform: translate3d(-75%, 0, 0);
}

.sp_under-space{ //indexのentranceとlogoappの間のスペースにoverlayがかかるようにするためだけのクラスです。
  @media #{$small} {
    padding-bottom: 20px;
  }
}

.g_drawerToggle{
  position: fixed;
  right: -1px; //トグルの右に出る隙間を埋める
  top: 0;
  width: 41px; //隙間を埋めた分の1px分大きく
  height: 23px;
  padding-top: 17px;
  background-color: $g__fontColor;
  z-index: 1000;
  //アニメーションの指定
  -webkit-transition: all .4s;
     -moz-transition: all .4s;
       -o-transition: all .4s;
          transition: all .4s;
  @media #{$normal} {
    display: none;
  }
  span{
    margin: 0 auto;
    display: block;
    height: 2px;
    background-color: #FFFFFF;
    width: 20px;
    transition: all .4s;
    transform: rotate(0deg);
  }
  .top {
    transform: translateY(-4px);
  }
  .bottom {
    transform: translateY(4px);
  }
}

.g_drawerToggle.open{
  position: fixed;
  right: -1px; //トグルの右に出る隙間を埋める
  top: 0;
  z-index: 1000;
  //クラス「open」が付いたら左に75%移動
  -webkit-transform: translate3d(-75vw, 0, 0);
     -moz-transform: translate3d(-75vw, 0, 0);
          transform: translate3d(-75vw, 0, 0);
  .middle {
  background: rgba(255, 255, 255, 0);
  }
  .top {
    transform: rotate(-45deg) translateY(2px);
  }
  .bottom {
    transform: rotate(45deg) translateY(-3px);
  }
}

/* オーバーレイ表示をするためのCSS */
.open .overlay {
  position: absolute;
  top: 0;
  left: 0;
  //親要素の上に表示するためz-indexを指定
  z-index: 999;

  //親要素一杯に広がるため縦横のサイズを100%に
  width: 100%;
  height: 100%;

  //暗くするため黒の透明色を指定
  background: rgba(0, 0, 0, .5);
}

.g_drawer{
  position: fixed; //常に固定なのでfixed
  top: 0;
  right: -75%; //初期状態では隠すため、横幅のサイズ分だけ画面外に移動する
  width: 75%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; //スマホでのスクロールに慣性を付ける（デバイス限定
  //アニメーション指定
  -webkit-transition: all .4s;
     -moz-transition: all .4s;
       -o-transition: all .4s;
          transition: all .4s;
  .sp_language{
    width: 100%;
    height: 40px;
    background-color: $g__fontColor;
    p{
      display: none;
      // line-height: 40px;
      // float: right;
      // margin-right: 21px;
      // color: #FFFFFF;
    }
  }
  .navBox{
    //(100% - 40px) = 上部の灰色を除いた大きさ,calc((100% - 40px) / 17) = 一つのメニューの高さの半分
    height: calc((100% - 40px) - calc((100% - 40px) / 17)); //最初のメニュー「ホーム」までのmarginのためその部分小さくしている
    margin-top: calc((100vh - 40px) /17); //最初のメニュー「ホーム」までのmargin
    li{
      border-bottom: 1px solid $g__fontColor;
      padding-top: calc(((100vh - 40px) /17) - 0.875em); // (縦幅-上部灰色スペース)/1つのメニューの半分(17)-文字の縦幅の半分(0.875em)
      margin: 0 30px calc(((100vh - 40px) /17) - 0.875em - 1px) 30px; //上記からborder1pxを引く
      // line-height: calc((100vh - 40px) / (17 / 2));
      line-height: 1.75em;
      display: block;
    }
    .gNav_sp{
      height: 75%;
      li{
        // height: calc(100% * (1/6));
        .gNav_sp_{
          border-bottom: 1px solid $g__fontColor;
          height: 70%;
        }
      }
    }
    .pNav_sp{
      height: 25%;
      background-color: $bg__color;
    }
  }
}

.g_drawer.open {
  -webkit-transform: translate3d(-100%, 0, 0);
     -moz-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
  background-color: #ffffff;
  z-index: 10000;
}

//↑加納↓高居

.lineSpace{
  line-height: 1.75em;
}

.event_pageTitle, .g_pageTitle{ //全く同じ機能だったのでまとめました。
  background: white;
  border-bottom: solid 1px $g__fontColor;
  border-top: solid 1px $g__fontColor;
  color: $title__color;
  font-size: $title__fontSize;
  font-weight: 500;
  //padding-left: calc(100% * (40 / 1080));
  //max-width: 100%; //g_allAreaのmax-width設定を強引に潰してます。
  //@media #{$maximum} {
    padding: 0 calc((100% - 1440px) / 2);
  //}
  /*@media #{$minimum} {
    padding-left: 40px; //絶対値に上書きして、それ以上paddingが小さくならないようにしています。
  }*/
  .titleText{
    border-left: solid 1px $g__fontColor;
    line-height: 63px;
    @media #{$normal} {
      margin-left: calc(100% * (40 / 1080));
    }
  }
  @media #{$small} {
    padding-left: calc(100% * 20 / 768);
  }
}

.archives{
  .headmarkMargin{
    margin: 0 0 24px 24px;
    @media #{$small} {
      font-size: 18px;
      margin: 0 0 27px 16px;
    }
  }
  .linkText{
    margin-left: 24px;
    @media #{$small} {
      margin-left: 16px;
    }
  }
}

.success{
  color: $dark__fontColor;
  font-size: 16px;
}
/*
.touristOffice{
  .lineSpace{
    color: $g__fontColor;
    font-size: $g__fontSize;
  }
}

.touristGuide{
  .lineSpace{
    color: $g__fontColor;
    font-size: $g__fontSize;
  }
}
*/
.radioFont{
  color: $dark__fontColor;
  @media #{$normal} {
    margin-right: 60px;
  }
}

.form{
  @include clearfix;
  @include smallM;
  @media #{$normal} {
    float: left;
    width: calc(75% * (1000 / 1080) - (100% * (75 / 1000)));
    //$normal時はウィンドウ幅1080px時のwrap1000pxからの75%からイベントについて書かれた幅とのマージンを引いている
    padding-top: 50px;
  }
  @media #{$small} {
    // padding-top: 50px; //ここたぶん50pxだと思うんです。
    padding-top: 40px; //カンプを確認して見たら40pxでした。
  }
}

.contact_form{
  padding: 0 calc(100% * (40 / 1080));
  padding-top: 50px;
}

.inputForm{
  //.inputBox{
  float: left;
  th{
    color: $dark__fontColor;
    font-size: 13px;
    text-align: left;
    width: 91px;
  }
  td{
    width: calc(100% - 28px);
    input{
      width: calc(100% - 28px);
    }
  }
  input{
    border: none;
    //background-color: #efefef;
    color: $dark__fontColor;
    font-size: $g__fontSize;
    padding: 11px 14px 11px 14px;
  }
  textarea{
    border: none;
    //background-color: #efefef;
    color: $dark__fontColor;
    font-size: $g__fontSize;
    padding: 11px 14px 11px 14px;
    width: calc(100% - 28px);
  }
  .textareaLabel{
    padding-top: 20px;
    vertical-align: top;
  }
  .confirm{
    width: 88px;
    height: 36px;
    border: 1px solid $dark__fontColor;
    color: $dark__fontColor;
    font-weight: 400;
    font-size: $link__fontSize;
    text-align: center;
    .sendbutton{
      background-color: transparent;
      color: $dark__fontColor;
      font-weight: 400;
      font-size: $link__fontSize;
      padding: 0;
      line-height: 35px;
      width: 100%;
      cursor: pointer;
    }
    .backbutton{
      background-color: transparent;
      color: #FFFFFF;
      padding: 0;
      line-height: 35px;
      width: 100%;
      cursor: pointer;
    }
    p{
      display: inline;
      line-height: 36px;
    }
  }
  //}
}

.inputBox, .inputBox_sub, .inputBox_sp, .inputBox_sp_b{
  input{
    background-color: #efefef;
  }
  textarea{
    background-color: #efefef;
  }
}

.revision{
  background: $dark__fontColor;
  //color: #FFF;
}

.inputForm_sp{
  .inputBox_sp, .inputBox_conf_sp, .inputBox_sp_b, .inputBox_conf_sp_b{
    input{
      //background-color: #efefef;
      border: none;
      color: $dark__fontColor;
      font-size: $g__fontSize;
    }
    p{
      font-size: $cap__fontSize;
    }
    textarea{
      //background-color: #efefef;
      border: none;
      color: $dark__fontColor;
      font-size: $g__fontSize;
    }
  }
  .confirm{
    width: 88px;
    height: 36px;
    border: 1px solid $dark__fontColor;
    color: $dark__fontColor;
    font-weight: 400;
    font-size: $link__fontSize;
    text-align: center;
    p{
      display: inline;
      line-height: 36px;
    }
  }
}

.accessProcess{
  @media #{$small} {
    width: calc(100% * (728 /768));
    margin: 0 calc(100% * (20 /768));
    .accessProcess_sp{
      .from{
        border-bottom: dashed 1px $g__fontColor;
        padding-bottom: 3px;
      }
      .route{
        padding: 20px 16px 36px 0;
      }
    }
  }
}

.center_line{
  background: $g__fontColor;
  float: left;
  height: 1761px;
  margin-left: calc(50% - 2.5px);
  //position: relative;
  width: 5px;
  @include only_pc;
}

h2.concept_title{
  //font-size: 48px;
  text-align: center;
  @media #{$normal} {
    font-size: 54px;
    //margin-bottom: 100px;
    //margin-bottom: 20px;
    //padding-top: 100px;
    padding-top: 50px;
  }
  @media #{$small} {
    font-size: 48px;
    //margin-bottom: 100px;
    padding: 100px 0;
  }
}

.concept, .concept_img, .concept_text{
  //font-size: 16px;
  font-size: 18px;
  line-height: 1.8em;
  //margin: 20px auto 10px auto;
  max-width: 960px;
  /*h3{
    text-align: center;
    margin-bottom: 25px;
    @media #{$small} {
      display: none;
    }
  }*/
  @include smallM;
  @media #{$normal} {
    width: calc(100% / 3 * 2);
  }
  @media #{$small} {
    font-size: 16px;
    padding: 0 10px;
  }
}

.concept{
  @media #{$normal} {
    margin: 20px auto 10px auto;
    text-align: center;
  }
}

.center_circle, .concept_img, .concept_text{
  @media #{$normal} {
    left: 50%;
    right: 50%;
    position: absolute;
  }
}

.center_circle{
  height: 61px;
  transform: translate(-50%, 0);
  width: 61px;
  @include only_pc;
}

.concept_img{
  //max-width: 45%;
  //max-width: calc(455px * 457.5 / 423); //concept_textのmax_width * カンプ上のオドロクチカラ画像の大きさ / イラレ上のconcept_textのwidth
  max-width: 457.5px; //↑が理想だが、現状center_lineが絶対値なのでこちらも絶対値である必要がある
  //float: left;
  img{
    width: 100%;
  }
  @media #{$small} {
    //float: none;
    max-width: 100%;
    padding-bottom: 10px; //上の方にまとめて宣言してある　padding: 0 10px;を
    padding-top: 40px;    //邪魔しないために、分けて宣言しています。
  }
}

.concept_text{
  @media #{$normal}{
    //float: left;
    //margin-top: calc(960px / 9 * 2 - 16px * 1.5);
    //max-width: 45%;
    max-width: 455px; //イラレだと423px、とあるが35pxの文字13個分は物理的に格納できないので増やした
    h3{
      font-size: 35px; //ここフォントサイズを35pxに指定しているのに領域が32pxしか確保されない
      font-weight: 400;
      line-height: 1em; //なのでこの一見意味がなさそうなクソコードが必要になる
      padding: 13px 0;
    }
    /*p{
      margin-top: calc(960px / 9 * 2 - 16px * 1.5);
    }*/
  }
  @media #{$small} {
    //float: none;
    max-width: 100%;
    h3{
      display: none;
    }
  }
}

@media #{$normal}{
  .concept_first, .concept_second, .concept_finally{
    position: relative;
  }
  .concept_first{
    margin-top: calc((457.5px / 2) + 114px - (61px / 2)); //オドロクチカラ画像の半径 + 加納が測った直上の要素との距離 - ◯の半径
  }
  .concept_second{
    margin-top: calc((114px + 457.5px) + (457.5px / 2) + 80px - (61px / 2));
  }
  .concept_finally{
    margin-top: calc((114px + 80px + 457.5px * 2) + (457.5px / 2) + 80px - (61px / 2));
  }
  .concept_text-left{
    //float: left;
    transform: translate(calc(-100% - 42px), 0);
  }
  .concept_text-right{
    transform: translate(42px, 0);
  }
  .concept_img-left{
    transform: translate(calc(-100% - 42px), calc(-50% + (61px * 0.5)));
  }
  .concept_img-right{
    //float: right;
    //margin-left: 10%;
    transform: translate(42px, calc(-50% + (61px * 0.5)));
  }
  /*.concept_sub{
    @include clearfix;
    //margin-top: 100px;
  }*/
}

.logoApp_h2{
  margin-top: 100px;
  text-align: center;
}

.logoApp_send{
  text-align: center;
  a {
    color: $g__fontColor;
  }
}